.page{
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
}

.about {
  background-image: url("../image/about\ 2.jfif");
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid red;
  min-height: 500px;
  max-height: 600px;
}

.header {
}
.soups {
}
.cook {
}
.news {
}
.buy {
}
.footer {
}